In [21]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tabular-playground-series-jun-2021/sample_submission.csv
/kaggle/input/tabular-playground-series-jun-2021/train.csv
/kaggle/input/tabular-playground-series-jun-2021/test.csv

In [22]:
import torch
from torch import nn
from torch import optim
from sklearn.preprocessing import LabelEncoder

In [50]:
traindf = pd.read_csv("/kaggle/input/tabular-playground-series-jun-2021/train.csv",index_col='id')
testdf = pd.read_csv("/kaggle/input/tabular-playground-series-jun-2021/test.csv")
testdf.head()
traindf['target'].nunique()
lencoder = LabelEncoder()
y = lencoder.fit_transform(traindf['target']).astype('int64')
traindf.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,6,1,0,0,0,0,7,0,...,0,0,0,0,0,0,2,0,0,Class_6
1,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,Class_6
2,0,0,0,0,0,1,0,3,0,0,...,0,0,0,0,1,0,0,0,0,Class_2
3,0,0,7,0,1,5,2,2,0,1,...,0,4,0,2,2,0,4,3,0,Class_8
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_2

In [24]:
print(y)
print(type(y))
traindf['target']=y
traindf.head()

[5 5 1 ... 7 6 7]
<class 'numpy.ndarray'>

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,6,1,0,0,0,0,7,0,...,0,0,0,0,0,0,2,0,0,5
1,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,5
2,0,0,0,0,0,1,0,3,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0,0,7,0,1,5,2,2,0,1,...,0,4,0,2,2,0,4,3,0,7
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [25]:
n_input = len(traindf.columns) -1
numClasses = traindf['target'].nunique()
batchSize = 64

In [26]:
len(traindf.columns) -1
print(numClasses)
columns = list(traindf.columns)
columns.pop()
columns

9

['feature_0',
 'feature_1',
 'feature_2',
 'feature_3',
 'feature_4',
 'feature_5',
 'feature_6',
 'feature_7',
 'feature_8',
 'feature_9',
 'feature_10',
 'feature_11',
 'feature_12',
 'feature_13',
 'feature_14',
 'feature_15',
 'feature_16',
 'feature_17',
 'feature_18',
 'feature_19',
 'feature_20',
 'feature_21',
 'feature_22',
 'feature_23',
 'feature_24',
 'feature_25',
 'feature_26',
 'feature_27',
 'feature_28',
 'feature_29',
 'feature_30',
 'feature_31',
 'feature_32',
 'feature_33',
 'feature_34',
 'feature_35',
 'feature_36',
 'feature_37',
 'feature_38',
 'feature_39',
 'feature_40',
 'feature_41',
 'feature_42',
 'feature_43',
 'feature_44',
 'feature_45',
 'feature_46',
 'feature_47',
 'feature_48',
 'feature_49',
 'feature_50',
 'feature_51',
 'feature_52',
 'feature_53',
 'feature_54',
 'feature_55',
 'feature_56',
 'feature_57',
 'feature_58',
 'feature_59',
 'feature_60',
 'feature_61',
 'feature_62',
 'feature_63',
 'feature_64',
 'feature_65',
 'feature_66',
 'feature_67',
 'feature_68',
 'feature_69',
 'feature_70',
 'feature_71',
 'feature_72',
 'feature_73',
 'feature_74']

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
traindf[columns] =scaler.fit_transform(traindf[columns])
traindf.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
id,,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.0,0.093750,0.014286,0.000000,0.000000,0.000000,0.000000,0.184211,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.032787,0.000000,0.0,5
1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.083333,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.007692,0.0,5
2,0.000000,0.0,0.000000,0.000000,0.000000,0.013158,0.000000,0.100000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.014925,0.0,0.000000,0.000000,0.0,1
3,0.000000,0.0,0.109375,0.000000,0.026316,0.065789,0.046512,0.066667,0.000000,0.013889,...,0.000000,0.050633,0.0,0.030769,0.029851,0.0,0.065574,0.023077,0.0,7
4,0.016393,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,1

In [28]:
dataset = torch.tensor(traindf.values)

In [29]:
trainLoader = torch.utils.data.DataLoader(dataset=torch.tensor(traindf.values), batch_size=batchSize, shuffle=True)

In [30]:
learningRate=0.03

In [61]:
model = nn.Sequential(nn.Linear(n_input,32),
                      nn.ReLU(),
                      nn.Linear(32, 16),
                      nn.ReLU(),
                      nn.Linear(16,numClasses),
                      nn.LogSoftmax(dim=1))
criterion=nn.NLLLoss()

optimizer=optim.SGD(model.parameters(),lr=learningRate)

In [63]:
epoch=20
for e in range(epoch):
  running_loss=0
  for i,data in enumerate(trainLoader):
    labels=data[:,-1]
    attributes=data[:,0:n_input].float()
    logits=model(attributes)
    loss= criterion(logits,labels.long())
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    running_loss += loss.item()
  else:
    print(f"Training loss: {running_loss/len(trainLoader)}")

Training loss: 1.9075435958480835
Training loss: 1.8706431728363038
Training loss: 1.8399376308441162
Training loss: 1.8200338037490844
Training loss: 1.8039960889816284
Training loss: 1.7967955196762084
Training loss: 1.7933083566665649
Training loss: 1.7909897176361085
Training loss: 1.789267586708069
Training loss: 1.7878201887130738
Training loss: 1.786545844154358
Training loss: 1.7855311315917968
Training loss: 1.7844617449951172
Training loss: 1.7833559315490723
Training loss: 1.7825226377487182
Training loss: 1.7815340421676635
Training loss: 1.780473085784912
Training loss: 1.7793273725128174
Training loss: 1.7785107472610473
Training loss: 1.777558151473999

In [55]:
testdf[columns]=scaler.fit_transform(testdf[columns])

In [34]:
#testLoader = torch.utils.data.DataLoader(dataset=torch.tensor(testdf.values), batch_size=batchSize, shuffle=False)

In [64]:
testdfTorch = torch.tensor(testdf.drop(['id'], axis=1).values)
with torch.no_grad():
    test_preds = model(testdfTorch.float())
    test_preds = torch.exp(test_preds)

In [66]:
test_preds[0]
torch.sum(test_preds[0])

tensor(1.0000)

In [67]:
# The lines below shows how to save predictions in format used for competition scoring.
output = pd.DataFrame({'id': testdf.id,
                       'Class_1': test_preds[:, 0],
                       'Class_2': test_preds[:, 1],
                       'Class_3': test_preds[:, 2],
                       'Class_4': test_preds[:, 3],
                       'Class_5': test_preds[:, 4],
                       'Class_6': test_preds[:, 5],
                       'Class_7': test_preds[:, 6],
                       'Class_8': test_preds[:, 7],
                       'Class_9': test_preds[:, 8],
                      })

output.to_csv('submission_tps.csv', index=False)

In [60]:
output.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,200000,0.000069,0.000130,0.000079,0.000031,0.000044,0.886595,0.000083,0.112833,0.000136
1,200001,0.000068,0.000144,0.000077,0.000030,0.000047,0.490408,0.000076,0.509016,0.000135
2,200002,0.000037,0.000066,0.000043,0.000016,0.000022,0.962081,0.000046,0.037614,0.000075
3,200003,0.000042,0.000096,0.000047,0.000018,0.000030,0.241865,0.000045,0.757773,0.000084
4,200004,0.000061,0.000130,0.000069,0.000026,0.000042,0.443235,0.000067,0.556248,0.000121